
@*@{
    ViewData["Title"] = "ReactView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>
    <div id="content"></div>    
    <script src="@Url.Content("~/js/tutorial.jsx")"></script>
</body>
</html>

